<div class="container">
  <div class="row">
    <div class="col-md-4 sidebar text-right float-right">
      <h1 class="h1 p-3">Janikowski Jarosław</h1>
      <span>
        jaroslaw.janikowski@gmail.com
      </span>
      <ul class="list-unstyled mt-5">
        <li><a href="#technologie">Technologie</a></li>
        <li><a href="#doswiadczenie">Doświadczenie</a></li>
        <li><a href="#wyksztalcenie">Wykształcenie</a></li>
      </ul>
    </div>
    <div class="col-md-8 offset-md-4">
      <div class="row">
        <div class="col-md-12">
          <h2 id="technologie" class="h2 mt-3">Technologie</h2>
          <p>w różnym stopniu zaawansowania</p>
          <hr>
          <table class="table table-borderless table-hover">
            <tbody>
              <tr>
                <td class="w-25">Python</td>
                <td class="w-auto">Django Framework, pyvenv</td>
              </tr>
              <tr>
                <td class="w-25">PHP</td>
                <td class="w-auto">Yii2</td>
              </tr>
              <tr>
                <td class="w-25">JavaScript</td>
                <td class="w-auto">jQuery, AngularJS, Angular 9</td>
              </tr>
              <tr>
                <td class="w-25">CSS</td>
                <td class="w-auto">Twitter Bootstrap</td>
              </tr>
              <tr>
                <td class="w-25">HTML, XML</td>
                <td class="w-auto">XPATH</td>
              </tr>
              <tr>
                <td class="w-25">SQL</td>
                <td class="w-auto">PostgreSQL</td>
              </tr>
              <tr>
                <td class="w-25">GIT</td>
                <td class="w-auto">GitHub</td>
              </tr>
              <tr>
                <td class="w-25">Systemy operacyjne</td>
                <td class="w-auto">Linux Ubuntu, Windows 10</td>
              </tr>
              <tr>
                <td class="w-25">Wirtualizacja</td>
                <td class="w-auto">Vagrant, LXC/LXD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="doswiadczenie" class="h2 mt-3">Doświadczenie zawodowe</h2>
          <hr>
          <table class="table table-borderless table-hover">
            <tbody>
              <tr>
                <td class="w-25">2017 - 30.04.2020</td>
                <td class="w-auto">SULIMO Software Piotr Osipa i Wspólnicy Spółka Jawna<br>Al. Józefa Piłsudskiego 13/1100 20-011 Lublin<br>
                Stanowisko: programista</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="wyksztalcenie" class="h2 mt-3">Wykształcenie</h2>
          <hr>
          <table class="table table-borderless table-hover">
            <tbody>
              <tr>
                <td class="w-25">10.2003 - 06.2006</td>
                <td class="w-auto">Państwowa Wyższa Szkoła Zawodowa w Chełmie<br>
                Studia licencjackie, kierunek: Matematyka z Informatyką<br>
                Temat pracy licencjackiej: Analiza i koncepcja internetowych systemów WebGIS w laboratorium Państwowej Wyższej Szkole Zawodowej w Chełmie.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>