<div class="container">
  <div class="row min-vh-100">
    <div class="col-md-4 sidebar text-md-right float-md-right col-sm-12 float-sm-none">
      <h1 class="h1 p-3">Janikowski Jarosław</h1>
      <span>
        jaroslaw.janikowski@gmail.com
      </span>
      <ul class="list-unstyled mt-5">
        <li><a [routerLink]="['/articles']">Artykuły</a></li>
        <li><a [routerLink]="['/projects']">Projekty</a></li>
        <li><a [routerLink]="['/resume']">Resume</a></li>
      </ul>
    </div>
    <div class="col-md-8 offset-md-4 col-sm-12 offset-sm-0">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="row">
    <div class="col-md-12 text-center mt-5">
      Copyright &copy; {{ year }} Jarosław Janikowski
    </div>
  </footer>
</div>
