/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;

}